#smarthint-search-result,
.dropdown-content,
.dropdown-contentLv2,
.dropdown-contentLv3,
.topbar,
div.backgroundFix {
    background-color: #0d1117 !important
}

.dropdown-content,
.dropdown-contentLv2,
.dropdown-contentLv3 {
    box-shadow: 0 8px 16px 0 #dddddd33 !important
}

#campanhaDestaque,
#smarthint-search-products>div.bestSellers.shelfRecomended>div>ul>div>div>div>li>a>span.shelfProduct__name,
.breadcrumb *,
.breadcrumb_bs *,
.btnOpn,
.cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1695625942 a.cc-link,
.footer.links *,
.footer.sac *,
.footer.texts *,
.header__menu *,
.productDescription *,
.productDescription span,
.produto .productContent__infos-freight .freight-values>table>tbody>tr>td,
.shelfProduct__price,
.smarthint .bought-together .result h3,
.topbar__content *,
.productMontagem__info i,
#container-productInfos-mobile h2.accordion-header button {
    color: #fff !important
}

.productInfos hr {
    border-color: #dbdbdb !important
}

.produto .header__menu,
.topbar {
    border-bottom: 1px solid #333 !important
}

.produto .stickyHeader,
.produto .stickyHeader__menu {
    background-color: #0d1117 !important;
    box-shadow: 1px 10px 10px #333333 !important;
}

.topbar__content>div .btnZap:hover {
    color: #00bf3b !important
}

.dropdown-content a:hover,
div.dropdownLv2:hover,
div.dropdownLv3:hover {
    background-color: #333 !important
}

fieldset.busca>input {
    background-color: #333 !important;
    color: #fff !important
}

.header__search input[type=button] {
    /*background-color: #e77925 !important -sh old colors*/
    background-color: #F90041 !important
}

#button-back svg *,
.campanhaDestaque,
body.especial>div.breadcrumb>ul>li:nth-child(3)>a,
body.especial>div.breadcrumb_bs>ul>li:nth-child(3)>a,
div.dropdown:hover .dropbtn #departLink {
    /*color: #e77925 !important - sh old colors*/
    color: #F90041 !important
}

#infoHarder,
#smarthint-search-mostsearchedterms>ul>li>a>span,
.newslettershowed__infos div,
.prdFichatecnica h3,
.productDescription,
.produto .productContent__infos .notifyme-form,
.produto .productContent__infos .notifyme-form>p,
.produto .productContent__infos-name h1.prdName div,
body div.breadcrumb>ul:nth-child(1)>li:nth-child(1)::after,
body div.breadcrumb_bs>ul:nth-child(1)>li:nth-child(1)::after,
body.busca div.breadcrumb>ul:nth-child(1)>li:nth-child(1)::after,
body.busca div.breadcrumb_bs>ul:nth-child(1)>li:nth-child(1)::after {
    color: #fff
}

.shelfProduct__name {
    color: #ddd !important
}

.produto .productContent__infos-price {
    color: #a7a7a7 !important
}

.cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1695625942 {
    color: #fff !important;
    background: #000 !important
}

body.produto .wrapTemp { /* REMOVER DO HTML DEPOIS */
    width: 100%;
    /*height: 262px;*/
    height: 0 !important;
    background-color: #0d1117;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1
}

body.produto .breadcrumb ul li li:last-of-type a span,
body.produto .breadcrumb_bs ul li li:last-of-type a span {
    /*color: #e77925 !important; - sh old colors*/
    color: #F90041 !important;
    text-decoration: underline !important
}

#smarthint-search-mostsearchedterms .mostsearchedterm-list,
#smarthint-search-mostsearchedterms .mostsearchedterm-title {
    background: #333 !important
}

#megasac-info,
#smarthint-search-mostsearchedterms,
#smarthint-search-mostsearchedterms .mostsearchedterm-list {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

#smarthint-search-mostsearchedterms .mostsearchedterm-list li:hover {
    background-color: #585859;
    transition: .3s;
    border-radius: 6px
}

body.produto {
    background-color: #0d1117
}

.bannerPrd,
.produto .productContent__infos-freight .freight-values table {
    background-color: #333 !important;
}

#infoNormal,
#infoHarder,
.out_of_stock-title {
    color: #cacaca !important;
}

.frases {
    /*color: #a3a3a3;*/
    color: #fff;
}

.produto .productContent__images-dimensions .productContent__images-dimensions--height i,
.produto .productContent__images-dimensions .productContent__images-dimensions--length i,
.produto .productContent__images-dimensions .productContent__images-dimensions--rating i,
.produto .productContent__images-dimensions .productContent__images-dimensions--weight i,
.produto .productContent__images-dimensions .productContent__images-dimensions--width i {
    filter: invert(100%) sepia(57%) saturate(7%) hue-rotate(44deg) brightness(180%) contrast(88%)
}

.produto .productContent__images-dimensions * {
    color: #f0f0f0 !important
}

#caracteristicas>table>tbody>tr>td,
#caracteristicas>table>tbody>tr>th,
#medidasNEW>ul>li,
#medidasNEW>ul>li>span,
#prodEspec>div>dl>dd,
#prodEspec>div>dl>dd>span {
    background-color: #282828 !important;
    border-right-color: #0d1117;
    border-left-color: #0d1117;
    color: #fff
}

#_sincero_widget *,
.divisor,
.highlights__content h2,
.productContent__infos-comunication p,
.productContent__infos-freight--message,
.smarthint .bestSellers.shelfRecomended h2 {
    color: #dbdbdb !important
}

.smarthint .slick-arrow {
    border-top: 6px solid #dbdbdb !important;
    border-right: 6px solid #dbdbdb !important
}

.produto .highlights.designers#instaContainer {
    background-color: unset !important
}

.produto .highlights.designers#instaContainer {
    margin-top: 25px
}

.trustvox-widget textarea {
    background-color: #3b3b3b;
    border-color: #888 !important
}

#rate-produto {
    background-color: #333
}

.productMontagem__info p,
.produto .productContent__infos-freight #popupCalculoFreteWrapper::after {
    color: #dbdbdb
}

.produto .productContent__infos .outras-cores ul li a img,
.produto .productContent__infos-installment>div {
    background-color: #fff
}

.produto .productContent__images .image-zoom .zoomPad {
    background-color: #fff;
    border-radius: 30px
}

.minusQty,
.moreQty,
.produto .productContent__infos-freight fieldset input {
    background-color: #3b3b3b;
    color: #dbdbdb !important;
    border-color: #797979 !important
}

.produto .productContent__infos-freight #popupCalculoFreteWrapper::before {
    filter: invert(100%) sepia(57%) saturate(7%) hue-rotate(44deg) brightness(112%) contrast(88%)
}

.produto .productContent__infos .notifyme-success {
    color: #ffffffa8
}

.produto #prodEspec div ul li {
    background-color: #282828
}

#prodEspec div ul li span {
    border-right: 5px solid #0d1117
}

.produto .productContent__infos-similars p {
    color: #ddd
}

.ts-questions-list-item[data-v-2d2b06c4] {
    background-color: #000
}

.produto .newslettershowed {
    background-color: #0d1117 !important
}

.produto .footer.links,
.produto .footer.sac,
.produto .footer.texts,
.produto .footer.brand {
    background-color: #000 !important
}

.header__logo {
    z-index: 1;
    position: relative
}

.produto .stickyHeader,
.footer.sac {
    border-top: 1px solid #333 !important
}

.produto .bannerPrdSlick {
    border-bottom: 1px solid #0d1117 !important
}

@media screen and (max-width:1199px) {
    .topbar__content,
    .topbar-mobile-fix {
        background-color: #0d1117 !important;
        /*border-bottom: 1px solid #333 !important*/
    }

    .header__menu {
        background: #0d1117
    }

    body.produto .wrapTemp {
        width: 100%;
        height: 245px;
        background-color: #0d1117;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1
    }

    body.produto .breadcrumb,
    body.produto .breadcrumb_bs {
        background-color: #0d1117 !important;
        margin-bottom: 10px
    }

    i#principal-voice-icone {
        padding-top: 30px
    }
}

/* New Price Block */
.slip_price,
.slip_info,
.credit_info,
#modal-installments-content h5,
#modal-installments-content hr,
#modal-installments-content p,
#modal-installments-content strong,
#modal-installments-content span,
.unavailable-button {
    color: #fff;
}

#button-back i {
    /*color: #e77925 !important; - sh old colors*/
    color: #F90041 !important
}

#modal-installments-content {
    background-color: #333;
}

#modal-installments-content li,
#info-progressivo-d3 {
    background-color: #000;
}

#modal-installments-content .modal-header {
    border-color: #6f6f6f;
}

#modal-installments-content .modal-header button {
    background-color: #fff !important;
}
/* New Price Block */

.nav-tabs {
    border-color: #6f6f6f;
}

.nav-tabs .nav-link {
    color: #fff !important;
}

.nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: #fff;
    border-color: #6f6f6f;
    border-bottom-color: #333 !important;
}

.produto .productContent__infos-freight .freight-values * {
    border-color: #0d1117 !important;
}

.produto .productContent__infos-designer {
    color: #dbdbdb !important;
}

/* Menu */
@media screen and (max-width: 1199px) {
    .sh-sidebar {
        background-color: #0d1117 !important;
        color: #fff;
    }
}
/* Menu */

/* Novo Tema Catalog BS */
.produto .view-product {
    --bs-btn-border-color: #F90041 !important;
}
/* Novo Tema Catalog BS */

/* Menu Black Friday */
.black-friday-btn {
    border: 2px solid #F90041 !important
}
/* Menu Black Friday */

/* BacktoTop Produto */
.produto #backToTop span {
    background-color: #0d1117 !important;
    box-shadow: 0 0 15px #0d1117 !important;
}

.produto #backToTop span p {
    font-weight: 600
}
/* BacktoTop Produto */

/* Troca de Logo por Tema */
.newLogo,
.stickyLogoOld {
    display: none !important
}

.logo__darkmode {
    display: block !important
}

.header__mobilemenu svg,
.stickyHeader__mobilemenu svg {
    filter: invert(88%) sepia(10%) saturate(5069%) hue-rotate(357deg) brightness(102%) contrast(102%) !important;
}
/* Troca de Logo por Tema */

/* Abas Descricao Produto */
#productInfos-tabs {
    --bs-nav-tabs-border-color: #ffda00a3 !important
}

#productInfos-tabs .nav-link:hover {
    border-color: #ffda0069 !important
}

#productInfos-tabs .nav-link:focus {
    border-bottom-color: #0d1117 !important;
}

#productInfos-tabs .productInfos_tab.active {
    background-color: #ffda001f !important;
    border-right: 0.15rem solid #ffda00a3;
    border-left: 0.15rem solid #ffda00a3;
    border-top: 0.15rem solid #ffda00a3;
    border-bottom-color: #0d1117 !important;
}
/* Abas Descricao Produto */

/* Marca e Seller - Marketplace */
#product_brand span,
#product_brand pre {
    color: #fff
}
/* Marca e Seller - Marketplace */

/* Popover Login - Na verdade esse estilo vai replicar para qualquer Popover do site */
.popover {
    --bs-popover-bg: #000 !important;
    --bs-popover-border-color: #6a6b6b !important;
    --bs-popover-header-color: #fff !important;
    --bs-popover-header-bg: #F90041 !important;
    --bs-popover-body-color: #fff !important
}

.popover-body {
    --bs-popover-body-color: #fff !important;
    color: #fff !important
}
/* Popover Login */

/* Estilo Tooltips site */
.tooltip {
    color: #000 !important
}

.tooltip-inner {
    color: #000 !important;
    background-color: #FFDA00 !important
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before,
.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #FFDA00 !important
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before,
.bs-tooltip-start .tooltip-arrow::before {
    border-right-color: #FFDA00 !important
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,
.bs-tooltip-start .tooltip-arrow::before {
    border-top-color: #FFDA00 !important
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-start .tooltip-arrow::before {
    border-bottom-color: #FFDA00 !important
}
/* Estilo Tooltips site */

/* Dropdown Opcoes de Usuario Logado */
#login__dropdown-content {
    background-color: #ffda00 !important
}

#login__dropdown-content a:hover {
    background-color: #333 !important;
    color: #fff !important
}
/* Dropdown Opcoes de Usuario Logado */

/* Busca Vazia 2024 */
.busca div.buscaVazia h3 {
    color: #fff !important
}

.areas a img {
    -webkit-filter: grayscale(50%) !important;
    filter: grayscale(50%) !important
}

.areas a strong {
    color: #991d3d !important
}
/* Busca Vazia 2024 */

/* Menu Mobile */
@media screen and (max-width: 1199px) {
    .sh-bar-block .sh-bar-item {
        color: #FFDA00 !important
    }

    .caretRight,
    .sh-large i,
    .sh-large span {
        color: #F90041 !important
    }

    .sh-dark-grey,
    .sh-hover-dark-grey:hover,
    .sh-dark-gray,
    .sh-hover-dark-gray:hover {
        background-color: #000 ;
        background: -webkit-linear-gradient(90deg, #333 0%, #0d1117 100%) !important
    }
}
/* Menu Mobile */

#lancamentos:hover,
#prontaEntrega:hover {
    border: 2px solid #0d1117 !important
}