.institucional .header__menu {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

.content {
    margin-bottom: 45px;
}

/* Ajustes Menu e Menu Fixed */
.stickyHeader__menu-content {
    margin-bottom: -15px !important;
}

.dropdownLv2,
.dropdownLv3,
.dropdownLv4 {
    height: 3.3rem;
}

.dropdown-content a.btn {
    color: #fff;
    margin: 10px 10px 15px 10px;
    padding: 5px 0px !important;
}

.dropdown-content a.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}
/* Ajustes Menu e Menu Fixed */

/* Ajustes Footer */
.footer__content {
    max-width: 1250px;
}

.footer__box {
    margin-right: 0;
}

#social-list-footer li {
    display: inline-block;
    margin-right: 5px;
}
/* Ajustes Footer */

/*#content-page { melhor ficar sem por hora
    margin: 0 200px;
    margin: 0 635px;
}*/

#content-page { /* igual do institucional antigo */
    width: 90%;
    max-width: 1224px;
    margin: 0 auto;
}

.container {
    padding-top: 25px;
}

.card {
    --bs-card-border-radius: 20px !important;
}

.main-card {
    padding: 25px 25px 60px !important;
}

#rowCards div .card {
    /*min-height: 260px;*/
    min-height: 280px;
}

.list-div a {
    padding-bottom: 8px;
}

.list-div a:hover {
    text-decoration: underline !important;
}

.list-div a:last-of-type {
    padding-bottom: 25px;
}

.accordion {
    --bs-accordion-border-color: #d2d2d2 !important;
    --bs-accordion-btn-bg: none !important;
    --bs-accordion-border-radius: 20px !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #FFDA0040 !important;
    /*--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #F9004140 !important;*/
    --bs-accordion-active-bg: #FFDA0020 !important;
    /*--bs-accordion-active-bg: #F9004120 !important;*/
    --bs-accordion-active-color: #F90041 !important;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e) !important;
    --bs-accordion-inner-border-radius: 20px !important;
}

#col_faq-acc .accordion {
    --bs-accordion-border-color: #d2d2d2 !important;
    --bs-accordion-btn-bg: none !important;
    --bs-accordion-border-radius: 20px !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #FFDA0040 !important;
    --bs-accordion-active-bg: #FFDA0020 !important;
    --bs-accordion-active-color: #F90041 !important;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e) !important;
    --bs-accordion-inner-border-radius: 20px !important;
}

.accordion-button:not(.collapsed)::after {
    filter: invert(100%) sepia(58%) saturate(6723%) hue-rotate(336deg) brightness(103%) contrast(110%) !important;
}

/* Breadcrumb */
/*.institucional .breadcrumb_bs { dando erros quando em monitores diferentes do convencional
    margin-left: 210px !important;
}*/

.institucional .breadcrumb_bs ul li:last-child a:after {
    display: none;
}

.sub .breadcrumb_bs ul li:last-of-type a {
    color: #f90041 !important;
    text-decoration: underline !important;
}
/* Breadcrumb */

#content-page h1,
#content-page #title-h2,
#content-page #title-h3 {
    font-weight: 700;
    line-height: 48px;
    color: #F90041 !important;
    box-sizing: border-box
}

#content-page h1 {
    font-size: 30px
}

#content-page #title-h2 {
    font-size: 25px
}

#content-page #title-h3 {
    font-size: 21px
}

#content-page p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
    /*text-align: justify;*/
}

#btnCard {
    --bs-btn-color: #fff;
    --bs-btn-bg: #F90041;
    --bs-btn-border-color: #F90041;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F90041db;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F90041;
    --bs-btn-active-border-color: #fff0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F90041;
    --bs-btn-disabled-border-color: #F90041;
    --bs-btn-border-radius: 1.875rem;
}

#rowCards div .card #btnCard {
    bottom: 6%;
    position: absolute;
}

#left-cards {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 18rem;
}

#left-cards-col {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 17rem;
    margin-left: 0.75rem;
}

#card-big {
    min-height: 26.7rem;
    max-height: 26.7rem;
}

.carousel-caption p {
    color: #fff !important;
}

#carouselCardEmphasis div {
    border-radius: 20px;
}

#carousel-caption-hide {
    margin-bottom: -180px;
    transition-timing-function: ease-in-out;
    transition: .5s;
}

.carousel:hover #carousel-caption-hide {
    transition: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 120px;
}

#bg-fix {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: .8;
    transition: .4s;
    transition-timing-function: ease-in-out;
}

.carousel:hover #bg-fix {
    top: 0;
    right: 0;
    width: 600px;
    height: 450px;
    transition: .1s;
    transition-timing-function: ease-in-out;
}

#accordionContainer {
    padding-top: 20px;
    /*--bs-accordion-border-radius: 10px;*/
}

#form-container {
    width: 36rem;
}

/* Modals */
#btn-wpp {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4bc959;
    --bs-btn-border-color: #4bc959;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4bc959db;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4bc959;
    --bs-btn-active-border-color: #fff0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4bc959;
    --bs-btn-disabled-border-color: #4bc959;
}

#btn-chat {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e77925;
    --bs-btn-border-color: #e77925;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e77925db;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e77925;
    --bs-btn-active-border-color: #fff0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e77925;
    --bs-btn-disabled-border-color: #e77925;
}

#btn-mail {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757ddb;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #fff0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}
/* Modals */

#btn-go-page {
    --bs-btn-color: #F90041;
    --bs-btn-bg: #FFDA00;
    --bs-btn-border-color: #FFDA00;
    --bs-btn-hover-color: #F90041;
    --bs-btn-hover-bg: #FFDA00db;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #F90041;
    --bs-btn-active-bg: #FFDA00;
    --bs-btn-active-border-color: #fff0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F90041;
    --bs-btn-disabled-bg: #FFDA00;
    --bs-btn-disabled-border-color: #FFDA00;
    --bs-btn-border-radius: 1.875rem;
    margin-top: 35px;
    padding: 10px 25px
}

.btn-wpp {
    background-color: #40c351!important;
    border-color: #49c858!important;
    --bs-btn-bg: #49c858!important;
    --bs-btn-border-color: #49c858!important;
    --bs-btn-hover-bg: #49c858!important;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-bg: #49c858!important;
    --bs-btn-disabled-bg: #49c858!important;
    --bs-btn-disabled-border-color: #49c858 !important
}

.btn-wpp:hover {
    /*border-color: #fff;*/
    opacity: 0.9;
}

/* Ajuste todos Big Info Modals */
.modal .modal-body {
    padding: 35px 150px !important
}

.modal .modal-dialog .modal-content {
    border-radius: 30px
}

.modal .modal-dialog .modal-content .modal-header h5 {
    margin-left: 15px
}

.modal .modal-dialog .modal-content .modal-header button {
    margin-right: 1px
}

@media screen and (max-width: 1199px) {
    .modal.fade.show { /* Talvez bugue futuramente */
        z-index: 999999 !important;
    }
    
    .modal .modal-dialog .modal-content {
        margin-top: 50px;
        max-height: 90%;
    }

    .modal .modal-body {
        padding: 25px 30px !important;
    }
}
/* Ajuste todos Big Info Modals */

/* Para Paginas de Conteudo */
.sub #content-page {
    max-width: 1060px;
}

.sub #imgLojas img {
    border-radius: 30px;
}

.sub #imgMap {
    padding-bottom: 40px;
}

.sub #imgMap * {
    width: 100% !important;
    max-width: 1059px !important;
    border-radius: 30px 30px 0 30px;
}

.sub #imgMap #btnCard {
    border-radius: 30px !important;
    margin-top: 10px;
}

.sub ol li {
    line-height: 1.5rem;
    margin-bottom: 10px
}

.sub ol li:last-child {
    margin-bottom: 100px
}
/* Para Paginas de Conteudo */

/* Responsivo */
/*@media screen and (min-width: 1399px) {*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #content-page {
        max-width: 924px;
    }

    .mobile-block {
        flex-direction: column;
    }
    
    .mobile-block .col:nth-child(1) {
        display: flex;
        flex-direction: row;
    }

    .mobile-block .col:nth-child(1) .row:nth-child(1) {
        padding-right: 40px;
    }

    .mobile-block .col:nth-child(1) .row:nth-child(2) {
        padding-right: 25px;
    }

    .mobile-block .col:nth-child(1) .row .card {
        width: 920px !important;
    }
}

@media screen and (max-width: 1199px) {
    #content-page {
        margin: 0 20px;
    }

    #left-cards-col {
        width: 22rem;
        /* Ver se nao vai bugar para diferentes smartphones */
    }

    .mobile-block {
        display: flex;
        flex-direction: column;
    }

    /* Para Paginas de Conteudo */
    .sub #imgLojas img {
        width: 100%;
        height: auto;
        padding-bottom:10px;
    }
    /* Para Paginas de Conteudo */

    #rowCards div .card {
        /*padding-bottom: 20px;*/
        margin-bottom: 20px;
    }

    .carousel-item a img {
        height: auto !important;
    }
}
/* Responsivo */