#brand_bg_full {
    /* esse trecho fica direto no html do template */
    background: url(https://sunhouse.vteximg.com.br/arquivos/brand-homolog.jpg); 
    /* esse trecho fica direto no html do template */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%
}

.lojista .header__menu {
    padding-bottom: 20px !important
}

.lojista .brand-content-col {
    padding: 30px;
    /* margin-top: 35px; */
}

.lojista #bc_col_um div {
    padding-top: 25px;
}

.lojista #bc_col_um img {
    /* width: 100%; */
    /* height: auto; */
    border-radius: 100%
}

.lojista #bc_col_dois {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.lojista #bc_col_dois p:first-child {
    padding-top: 65px
}