.logo {
    display: none
}

.caretRight {
    float: right;
    margin: auto
}

.caretRightFix {
    position: relative;
    margin: auto;
    right: -8px;
    padding-right: 8px
}

.caretLeft {
    float: left;
    margin: auto
}

ul.list-contentCat {
    list-style: none;
    text-decoration: none
}

.dropdown {
    position: relative;
    display: inline-block;
    top: -15px
}

.dropbtn {
    background: 0 0;
    color: #444;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1099;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left
}

.dropdown-content a {
    color: #444;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    min-width: 180px
}

.list-contentCat {
    padding: 0;
    margin: 0
}

.dropdown-contentLv2 {
    display: none;
    top: 0;
    left: 100%;
    margin-top: -1px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left
}

.dropdown-contentLv3 {
    display: none;
    top: inherit;
    left: 100%;
    height: auto;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left
}

.dropdown-content,
.dropdown-contentLv2,
.dropdown-contentLv3 a {
    white-space: nowrap
}

.dropbtn #departLink {
    text-decoration: none;
    white-space: nowrap;
    color: #444
}

/* Para Novo Tema Rebrand
.dropdown-content a:hover {
    background-color: #ddd;
    color: #F90041;
    transition: .5s;
    border-radius: 10px
}*/

.dropdown:hover .dropdown-content {
    display: block;
    transition: .5s;
    border-radius: 10px
}

.dropdownLv2:hover .dropdown-contentLv2 {
    display: block;
    top: 0;
    left: 100%;
    margin-top: -1px;
    transition: .5s;
    border-radius: 10px
}

.dropdownLv3:hover .dropdown-contentLv3 {
    display: block;
    left: 100%;
    margin-top: -3.25rem;
    transition: .5s;
    border-radius: 10px
}

#lancamentos,
#prontaEntrega {
    background-color: #18b858;
    padding: 5px 18px 5px 18px;
    border-radius: 10px;
    color: #fff;
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600
}

#lancamentos {
    background-color: #e77925
}

#prontaEntrega {
    background-color: #18b858
}

#prontaEntrega:hover {
    transition: 1.5s;
    background-color: #14d360
}

#lancamentos:hover {
    transition: .5s;
    background-color: #ff950b
}

div.dropdownLv2:hover,
div.dropdownLv3:hover {
    background-color: #ddd;
    transition: .5s;
    border-radius: 10px
}

div.dropdown:hover .dropbtn #departLink {
    color: #e77925;
    transition: .5s
}

.btnMenu,
.btnMenu:hover,
.btnMenu:link,
.btnMenu:visited {
    text-decoration: none;
    color: #fff
}

a.caretMain {
    margin-right: 10px
}

a.caretMain:after {
    content: "";
    position: absolute;
    top: 22px;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #e77925;
    clear: both
}

#mobBackBtn {
    display: none;
    background: 0 0;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    color: #fff;
    margin: 10px 0 5px 45px;
    font-size: 18px;
    font-weight: 500;
    text-align: center
}

#mobBackBtn span {
    color: #e77925
}

#mobBackBtn .backBtn:hover,
#mobBackBtn span:hover,
#mobBackBtn:hover {
    color: #ff950b;
    transition: .5s
}

.backBtn {
    color: #e77925
}

.noHover {
    pointer-events: none
}

#closeMobBtn,
.headerMobMenu,
.mobDisplay,
.side-menu {
    display: none !important
}

.campanhaDestaque {
    font-weight: 600;
    color: #e77925 !important;
    display: flex
}

.campanhaDestaque:hover {
    opacity: .9
}

/* Botao Black Friday */
.black-friday-btn {
    background-color: #000 !important;
    color: #FFDA00 !important;
}

.black-friday-btn:hover {
    background-color: #F90041 !important;
    opacity: 1 !important;
}
/* Botao Black Friday */
