/* Estilo do Login Widget */
.login-block {
    position: relative;
    /*background-color: #cccccc7d;*/
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 22px;
    margin-left: 25px
}

.stickyHeader .login-block {
    margin-top: 5px
}

.login-new {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*font-size: 55px;*/
    font-size: 60px;
    color: #777777e0
}

.login-block .dropdown-content {
    left: 50%;
    transform: translatex(-50%)
}

.login-block #login__dropdown,
.login-block #login__goLogin {
    position: absolute !important;
    top: 0 !important;
    transition: .2s
}

@media screen and (min-width: 1200px) {
    .wrapHeader .login-block #login__dropdown:hover,
    .wrapHeader .login-block #login__goLogin:hover {
        margin-top: -8px;
        transition: .2s
    }
}

#login__dropdown-content {
    background-color: #ffda00;
    border-radius: 30px;
    z-index: 99
}

#login__dropdown-content hr {
    width: 85%;
    margin: 0 auto
}

#login__dropdown-content a {
    border: 6px solid #FFDA00;
    border-radius: 30px;
    padding: 12px 16px !important
}

#login__dropdown-content a:hover {
    background-color: #fff
}

#desk-login__loggedIn {
    all: unset
}

.header__cart:hover i,
.login-block:hover i {
    color: #FFDA00;
    filter: drop-shadow(1px 1px 1px #9c9c9c)
}

/* Texto com Saudacao e Nome do Usuario Logado */
.login-block #login__dropdown .client-name {
    white-space: nowrap;
    position: absolute;
    top: 20px;
    left: -20px;
    transition: .5s ease;
    opacity: 0
}

.login-block #login__dropdown .client-name p {
    font-weight: 500;
    color: #F90041
}

.login-block #login__dropdown:hover .client-name {
    top: 24px;
    left: 78px;
    transition: .2s ease;
    opacity: 1
}

.login-block #login__dropdown #name_caret {
    color: #777777e0;
    position: absolute;
    top: 40%;
    right: -15px;
    transition: .2s ease
}

.login-block #login__dropdown:hover #name_caret {
    transform: rotate(-90deg);
    transition: .2s ease;
    color: #FFDA00
}

.login-block #login__dropdown .welcome {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .2s
}

.login-block #login__dropdown .welcome:hover {
    width: 160px;
    transition: .2s
}
/* Texto com Saudacao e Nome do Usuario Logado */

@media screen and (max-width: 1199px) {
    .login-block {
        position: absolute;
        right: 100px;
        top: 53px
    }
    
    .login-block i {
        font-size: 55px
    }

    #mobile-login__loggedIn .login-block i {
        padding-top: 2px;
        font-size: 50px !important;
        color: #fff
    }

    #mobile-login__loggedIn #client_name {
        white-space: nowrap;
        position: absolute;
        top: 90px;
        margin-left: 50px;
        margin-right: 170px;
        width: -webkit-fill-available;
        text-align: center
        /*opacity: 1*/
    }
    
    #mobile-login__loggedIn #client_name p {
        color: #fff !important;
        font-size: 20px;
        font-weight: 500;
        float: right
    }
    
    #mobile-login__loggedIn #client_name_desktop {
        display: none
    }
    
    #mobile-login__loggedIn #login__dropdown #name_caret {
        display: none
    }
    
    .stickyHeader .login-block {
        display: none !important
    }

    #desk-login__loggedIn {
        display: none
    }

    #login__dropdown-content hr {
        margin: 0 auto !important
    }

    #login__notLogged {
        display: none
    }
}
/* Estilo do Login Widget */