#instaContainer {
    /*background: #fff*/
    background: unset !important /* Pode dar BO */
}

.busca #instaContainer {
    background: #eceff1
}

.institucional #instaContainer {
    background-color: #eceff1;
}

#bannerInstaTest {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.imgRound {
    /*border-radius: 20% 20% 100% 100%;
    height: 300px;*/
    border-radius: unset;
    height: auto;
    width: 300px
}

.heart-icon {
    display: inline-block;
    margin-left: 6px;
    background-image: url(https://sunhouse.vteximg.com.br/arquivos/sprite.png);
    background-position: -99px -226px;
    width: 23px;
    height: 20px
}

.highlights__content {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden !important
}

.highlights__content h2 {
    font-size: 30px;
    font-weight: 900;
    color: #000;
    padding: 32px 0
}

.instaLink {
    font-size: 32px !important;
    /*margin-top: 55px;*/
    margin-top: 30px;
    text-align: center;
    /*background-image: url(https://sunhouse.vteximg.com.br/arquivos/bgInstaLow.jpg);
    background-size: 45px; - Old modo de efeito no insta widget title */
    color: transparent;
    font-weight: 600 !important;
    background: -webkit-linear-gradient(315deg,#F90041 30%,#FFDA00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.instaLinkBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instaLinkBanner:hover {
    opacity: .9;
    transition: .3s
}

body.campanhas #instaContainer,
body.catalog #instaContainer,
body.colecao-fixa #instaContainer {
    background: #eceff1 !important
}

.especial .highlights.designers#instaContainer {
    background-color: #fff !important;
}

body.black-friday #instaContainer {
    background: 0 !important
}

.home .highlights.designers#instaContainer {
    padding-bottom: 25px
}

.catalog .highlights.designers#instaContainer,
.produto .highlights.designers#instaContainer {
    margin-top: 25px;
    /*margin-left: 140px;*/
    padding-bottom: 25px
}

#bannerInstaTest iframe {
    min-width: 730px;
    width: auto !important;
    margin-top: -20px;
    margin-left: 50px
}

.wx-widget-container .slick-slide div {
    border-radius: 20px !important
}

div[data-mc-cmp-id=mission-control-component-6389b37c-69b1-4322-8af9-e1942bee0563] {
    height: 460px !important
}

.newslettershowed {
    position: relative !important;
    z-index: 1;
    /*padding-top: 60px !important;
    margin-top: -90px !important;*/
    background-color: #eceff1;
    /*padding: unset !important;*/
}

.home .newslettershowed {
    position: relative !important;
    z-index: 1;
    background-color: #fff;
    margin-top: -105px !important;
    padding-top: 55px !important;
}

.produto .newslettershowed {
    position: relative !important;
    z-index: 1;
    /*padding-top: 110px !important;
    margin-top: -90px !important;*/
    background-color: #fff
}

#instaMob {
    display: none
}

@media screen and (min-width:1200px) {
    /*.home .instaWrap,
    .institucional .instaWrap {
        margin-left: 70px
    }*/

    .home .instaWrap,
    .institucional .instaWrap,
    .produto .instaWrap {
        margin-left: 55px
    }
}

@media screen and (max-width: 1199px) {
    .highlightBanners h2.RoundBannerTitle,
    .instaContTitle {
        font-size: 24px !important;
        text-align: center
    }

    #bannerInstaTest {
        display: flex;
        flex-direction: column
    }

    .instaContTitle {
        margin: 10px !important
    }

    .imgRound {
        width: 90% !important;
        height: auto !important;
        display: block;
        margin: 0 auto
    }

    .instaLink {
        margin-top: 15px;
        margin-bottom: 35px;
        font-size: 38px
    }

    .catalog .highlights.designers#instaContainer,
    .produto .highlights.designers#instaContainer {
        margin-left: 0 !important
    }

    #instaDesk {
        display: none !important
    }

    #instaMob {
        display: block !important;
        scale: 0.9; /* TESTE */
    }

    #bannerInstaTest iframe {
        width: auto;
        min-width: 400px;
        margin-left: 6px
    }

    .css-1nqnx7u {
        max-width: 400px !important;
        padding-top: 20px;
        margin: 0 auto;
        position: absolute;
        left: 0
    }

    /* Botao Carregar Mais - Novo Widget 13.11.23
    .css-qbuaef {
        border: unset !important;
        padding: 10px 40px !important;
        border-radius: 30px !important;
        background-color: #F90041 !important;
        color: #FFDA00 !important;
        font-weight: 600 !important;
        font-size: 16px !important;
    } - NAO FUNCIONOU POR ESSE ARQUIVO */
    /* Botao Carregar Mais */
    
    .newslettershowed {
        display: none !important;
    }

    .catalog .highlights.designers#instaContainer,
    .produto .highlights.designers#instaContainer {
        margin-top: 0px
    }

    .home .highlights.designers#instaContainer {
        display: none
    }
}