/* Style padrão novo - Apenas Header */
.topbar {
    z-index: 999;
    top: 2.5px !important;
    min-width: 150px !important;
    width: auto !important;
    right: 12% !important;
    border-radius: 100px !important;
    height: 35px !important;
}

#topbar-mobile {
    display: none;
}

.topbar__content {
    width: unset !important;
}

#wrap-topbar {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.topbar__content div a {
    line-height: unset !important;
    padding-right: 15px !important;
    padding-left: 5px !important;
}

.topbar__content>div a .icon-user {
    padding-left: 5px !important;
}

/*.login-text {
    padding: 0px 10px !important;
}*/

.fullbody {
    position: unset !important;
    padding-right: 5px;
}

.header {
    /*padding-top: 55px !important;*/
    padding-top: 55px;
}

/* Style para Desk Screen */
@media screen and (min-width: 1200px) {
    .topbar {
        position: fixed !important;
    }
}
/* Style para Desk Screen */

/* Style para Mobile Screen */
@media screen and (max-width: 1199px) {
    .topbar-mobile-fix {
        top: 105px;
        right: 10px !important;
        box-shadow: 1px 1px 10px #939393;
        padding: 2px 10px 10px 1px;
        background: #fff;
        border-radius: 30px;
    }

    .topbar-mobile-fix-new {
        top: 112px;
        right: 20px !important;
        padding: 2px 10px 10px 1px;
        border-radius: 30px;
    }

    .header__menu.active {
        margin-top: 100px !important;
    }

    .header {
        /*padding-top: 75px !important;*/
        padding-top: 75px;
    }

    .stickyHeader {
        padding-top: 15px !important;
    }

    .header__cart {
        margin-top: 5px !important;
        margin-right: 5px !important;
    }

    #topbar-desk, #stopbar {
        display: none;
    }

    #topbar-mobile {
        /*all: unset !important;*/
        display: block;
        position: absolute;
        right: 100px;
    }

    .topbar__content {
        position: unset !important;
        border-bottom: unset !important;
        margin-right: unset;
    }
    
    .topbar__content div {
        padding: 0 !important;
        width: unset !important;
        float: unset !important;
    }

    .topbar__content div a {
        display: flex !important;
    }
    
    #wrap-topbar {
        margin-top: 5px !important;
        margin-left: 5px !important;
    }
}
/* Style para Mobile Screen */

/* New BS Cart Icon */
.cart-new {
    position: absolute;
    z-index: -1;
    font-size: 52px;
    /*color: #666;*/
    /*color: #777;*/
    color: #777777e0;
    margin-top: -5px;
}

.header__cart {
    background-image: unset;
}

@media screen and (max-width: 1199px) {
    .header__cart {
        margin-top: 7px !important;
        width: 40px !important;
        height: 40px !important;
        right: 35px !important;
    }
    
    .wrapHeaderFixed .stickyHeader .stickyHeaderCart {
        right: 10px !important;
    }

    .header__cart-items {
        margin: unset !important;
    }
    
    .cart-new {
        font-size: 40px !important;
    }
}
/* New BS Cart Icon */

/* Estilo do Login Widget */
.login-block {
    position: relative;
    /*background-color: #cccccc7d;*/
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 22px;
    margin-left: 25px
}

.stickyHeader .login-block {
    margin-top: 5px
}

.login-new {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: #777777e0
}

.login-block .dropdown-content {
    left: 50%;
    transform: translatex(-50%)
}
/* Estilo do Login Widget */
/* Style padrão novo */