.home .slick-dots {
    display: table;
    margin: 6px auto
}

.home .slick-dots li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid #e77925;
    margin: 0 4px
}

.home .slick-dots li.slick-active {
    background: #e77925
}

.home .slick-dots li button {
    display: none
}

.home .highlight {
    position: relative;
    display: block;
    width: 1200px;
    margin: 36px auto 0
}

@media screen and (max-width:1199px) {
    .home .highlight {
        width: 100%;
        margin: 24px auto 0;
        /*max-height: 185px; acredito que seja desnecessario */
        padding: 10px
    }

    .home .highlight img {
        width: 100%;
        border-radius: 20px;
        padding-right: 1px;
        padding-left: 1px
    }

    .home .highlight .slick-arrow {
        display: none !important
    }
}

.home .areas,
.home .benefits {
    margin-left: auto;
    margin-right: auto
}

.home .highlight .slick-arrow {
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 0;
    top: 50%;
    cursor: pointer;
    border: none;
    background: 0 0;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    z-index: 2
}

.home .highlight .slick-arrow.slick-prev {
    left: 28px;
    transform: rotate(225deg)
}

.home .highlight .slick-arrow.slick-next {
    right: 28px;
    transform: rotate(45deg)
}





/*
.home .benefits {
    display: table;
    width: 100%;
    max-width: 1200px;
    padding-top: 16px
}

.home .benefits li {
    float: left;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid #e77925;
    padding: 6px 0 16px 16px
}

@media screen and (max-width:1199px) {
    .home .benefits {
        display: none
    }

    .home .benefits li {
        width: 100% !important
    }
}

.home .benefits li:nth-child(1) {
    padding-left: 0;
    width: 19%
}

.home .benefits li:nth-child(1)>strong {
    float: left;
    font-family: Ubuntu;
    font-size: 56px;
    line-height: 48px;
    color: #e77925;
    font-weight: 900;
    padding-right: 4px
}

.home .benefits li:nth-child(1)>p {
    font-size: 22px;
    line-height: 28px
}

.home .benefits li:nth-child(2) strong {
    font-size: 27px;
    display: block
}

.home .benefits li:nth-child(3) {
    width: 22%
}

.home .benefits li:nth-child(3) strong {
    display: block
}

.home .benefits li:nth-child(3) strong:first-of-type {
    position: relative;
    top: -6px;
    font-size: 32px;
    padding: 0 18px
}

.home .benefits li:nth-child(3) strong:first-of-type span {
    font-size: 36px
}

.home .benefits li:nth-child(3) strong:last-of-type {
    position: relative;
    top: 3px;
    left: 18px
}

.home .benefits li:nth-child(4) {
    width: 18%
}

.home .benefits li:nth-child(4) p {
    font-size: 30px;
    padding: 0 26px
}

.home .benefits li:nth-child(4) strong {
    position: relative;
    top: 2px;
    left: 16px;
    font-size: 30px;
    padding: 7px 8px
}

.home .benefits li:nth-child(5) {
    width: 21%;
    border: 0
}

.home .benefits li:nth-child(5) p {
    font-size: 14px !important
}

.home .benefits li:nth-child(5) strong {
    font-size: 44px !important;
    padding-left: 20px
}

.home .benefits li p,
.home .benefits li strong {
    font-size: 24px;
    line-height: 24px;
    font-family: Raleway;
    color: #e77925
}

.home .benefits li p {
    font-weight: 300
}

.home .benefits li strong {
    font-weight: 900
}

.home .benefits li>span {
    float: left
}
PODE IMPACTAR NEGATIVAMENTE NO NOVO MODELO ABAIXO: */

.home .benefits-new {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eceff1;
    border-radius: 60px;
    padding-top: 16px
}

.home .benefits-new * {
    color: #000 !important
}

.home .benefits-new li {
    float: left;
    width: 20%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 6px 0 6px 15px
}

.home .benefits-new li i {
    font-size: 40px
}

.home .benefits-new li p {
    margin-bottom: 0
}

.home .benefits-new li:last-child {
    border: unset !important
}

.home .benefits-new .benefits-round-bg {
    min-width: 70px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px
}

.home .benefits-new .benefits-round-content #benefits__merc-number {
    font-size: 22px;
    text-transform: uppercase
}

.home .benefits-new .benefits-round-content #benefits__merc-text {
    font-size: 20.5px
}

.home .benefits-new .benefits-round-content #benefits__lojas-number {
    float: left;
    font-size: 43px;
    line-height: 38px;
    font-weight: 900;
    padding-right: 6px
}

.home .benefits-new .benefits-round-content #benefits__lojas-main {
    font-size: 20px;
    text-transform: uppercase
}

.home .benefits-new .benefits-round-content #benefits__dev-number {
    float: left;
    font-size: 47px;
    line-height: 40px;
    font-weight: 900;
    padding-right: 6px
}

.home .benefits-new .benefits-round-content #benefits__dev-wrap {
    float: left
}

.home .benefits-new .benefits-round-content #benefits__cli-number {
    font-size: 29.5px;
    text-transform: uppercase
}

.home .benefits-new .benefits-round-content #benefits__cli-text {
    font-size: 14px
}

.home .benefits-new .benefits-round-content #benefits__desc-text {
    font-size: 17px
}

.home .benefits-new .benefits-round-content #benefits__desc-number {
    float: left;
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
    padding-right: 6px
}

.home .benefits-new .benefits-round-content #benefits__desc-pix {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 30px
}

@media screen and (max-width: 1199px) {
    .home .benefits-new {
        display: none;
    }
}

.home .areas,
.home .areas a:nth-child(1) strong,
.home .areas a:nth-child(2) strong {
    padding-top: 24px
}

.home .areas {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    max-width: 1064px
}

@media screen and (max-width:1199px) {
    .home .areas {
        display: none
    }
}

.home .areas a {
    float: left;
    width: 16.5%
}

.home .areas a img {
    position: relative;
    display: block;
    margin: 0 auto;
    transition: filter .1s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray
}

.home .areas a strong {
    display: block;
    width: 100%;
    font-weight: 900;
    color: #999;
    text-align: center
}

.home .areas span:hover * {
    color: #ff7a13;
    filter: none
}

.home .areas a:nth-child(1) img {
    margin: 24px auto 0
}

.home .areas a:nth-child(3) {
    width: 21%
}

.home .areas a:nth-child(3) img {
    margin-top: 48px
}

.home .areas a:nth-child(3) strong {
    margin-top: 28px
}

.home .areas a:nth-child(4) {
    width: 16%
}

.home .areas a:nth-child(5),
.home .areas a:nth-child(6) {
    width: 15%
}

.home .areas a:nth-child(4) img {
    margin-top: 19px
}

.home .areas a:nth-child(4) strong {
    padding-top: 27px
}

.home .areas a:nth-child(5) img {
    margin-top: 26px
}

.home .areas a:nth-child(5) strong {
    padding-top: 24px
}

.home .areas a:nth-child(6) img {
    margin-top: 32px
}

.home .areas a:nth-child(6) strong {
    padding-top: 24px
}

.home .highlightBanners {
    padding: 32px 0;
    background: #eceff1;
    margin-top: 48px
}

.home .highlightBanners__content {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width:1199px) {
    .home .highlightBanners {
        padding: 16px 0 8px;
        margin-top: 24px
    }

    .home .highlightBanners__content {
        /*display: block;*/
        padding: 0 16px; /*pode causar bugs */
        box-sizing: border-box; /*pode causar bugs */
        display: flex !important;
        flex-direction: column;
        overflow-x: hidden;
        touch-action: pan-y;
        height: 460px;
    }
}

.home .highlightBanners__content .box-banner {
    width: 33.3%;
    display: inline-block;
    transition: opacity .1s
}

.home .highlightBanners__content .box-banner img {
    display: block;
    margin: 0 auto
}

.home .bestSellers {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px
}

@media screen and (max-width:1199px) {
    .home .highlightBanners__content .box-banner img {
        width: 100%;
        height: auto
    }

    .home .bestSellers {
        display: block;
        box-sizing: border-box;
        padding: 56px 16px 24px
    }

    .home .bestSellers .slick-dots {
        margin-top: 12px
    }
}

.home .bestSellers h2 {
    font-size: 30px;
    font-weight: 900;
    color: #4c3767;
    padding-bottom: 32px
}

.home .bestSellers h2 i.heart-icon {
    display: inline-block;
    margin-left: 6px;
    background-image: url(https://sunhouse.vteximg.com.br/arquivos/sprite.png);
    background-position: -99px -226px;
    width: 23px;
    height: 20px
}

.home .shelfNews {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px
}

@media screen and (max-width:1199px) {
    .home .bestSellers h2 {
        font-size: 24px;
        text-align: center;
        padding-bottom: 16px
    }

    .home .shelfNews {
        display: block;
        box-sizing: border-box;
        padding: 0 16px
    }

    .home .shelfNews .slick-dots {
        margin-top: 12px
    }
}

.home .shelfNews h2 {
    font-size: 30px;
    font-weight: 900;
    color: #4c3767;
    padding-bottom: 32px
}

@media screen and (max-width:1199px) {
    .home .shelfNews h2 {
        font-size: 24px;
        text-align: center;
        padding-bottom: 16px
    }
}

.home .highlights {
    display: table;
    width: 100%;
    background: #eceff1;
    margin-top: 24px;
    /*padding-bottom: 40px*/
}

@media screen and (max-width:1199px) {
    .home .highlights {
        display: block
    }
}

.home .highlights .slick-dots {
    margin-top: 16px
}

.home .highlights>a {
    display: table;
    width: 420px;
    height: 48px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 48px;
    background: #4c3767;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    margin: 40px auto 0
}

@media screen and (max-width:1199px) {
    .home .highlights>a {
        width: 90%
    }
}

.home .highlights__content {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.home .highlights__content .slick-arrow {
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 0;
    top: 40%;
    cursor: pointer;
    border: none;
    background: 0 0;
    border-top: 6px solid #4c3767;
    border-right: 6px solid #4c3767;
    z-index: 2
}

@media screen and (max-width:1360px) {
    .home .highlights__content .slick-arrow {
        display: none !important
    }
}

.home .highlights__content .slick-arrow.slick-prev {
    left: -60px;
    transform: rotate(225deg)
}

.home .highlights__content .slick-arrow.slick-next {
    right: -60px;
    transform: rotate(45deg)
}

.home .highlights__content>h2 {
    font-size: 30px;
    font-weight: 900;
    color: #4c3767;
    padding: 32px 0
}

.home .highlights__content-highlight--logo {
    float: left;
    margin: 56px 48px 0 0
}

@media screen and (max-width:1199px) {
    .home .highlights__content>h2 {
        font-size: 24px;
        text-align: center
    }

    .home .highlights__content-highlight--logo {
        float: initial;
        display: table;
        width: auto;
        margin: 0 auto
    }

    .home .highlights__content-highlight--logo img {
        display: table;
        margin: 0 auto
    }
}

.home .highlights__content-highlight--logo>a {
    display: table;
    width: 194px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 32px auto 0;
    font-size: 17px;
    font-weight: 600;
    color: #4c3767;
    border: 1px solid #4c3767;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px
}

.home .highlights__content-highlight--highlight {
    float: left;
    margin-right: 16px
}

@media screen and (max-width:1199px) {
    .home .highlights__content-highlight--logo>a {
        display: none
    }

    .home .highlights__content-highlight--highlight {
        display: table;
        float: initial;
        margin: 24px auto
    }
}

.home .highlights__content-highlight--highlight p {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #444;
    text-align: center;
    margin-top: 8px
}

.home .highlights__content-highlight .shelf {
    float: right !important;
    margin-right: 1px
}

@media screen and (max-width:1199px) {
    .home .highlights__content-highlight .shelf {
        width: 100%
    }

    .home .highlights__content-highlight .shelf>ul {
        width: 96vw;
        margin: 0 auto
    }
}

.home .highlights__content-highlight .shelfProduct {
    width: 290px;
    margin-right: 16px
}

@media screen and (max-width:1199px) {
    .home .highlights__content-highlight .shelfProduct {
        width: 100%
    }
}

.home .highlights__content-highlight .shelfProduct img {
    width: 290px
}

.home .highlights__content-highlight .shelfProduct:nth-child(2) {
    margin-right: 0
}

@media screen and (max-width:1199px) {
    .home .highlights__content-highlight .shelfProduct img {
        width: 100%
    }

    .home .highlights__content-highlight .shelf {
        display: table;
        width: 100%;
        float: initial !important
    }

    .home .highlights__content-highlight .shelf .shelfProduct {
        width: calc(50% - 8px)
    }
}

.home .highlights.architects .highlights__content-highlight--logo,
.home .highlights.designers .highlights__content-highlight--logo {
    margin-top: 0
}

.home .highlights.architects .highlights__content-highlight--logo p,
.home .highlights.designers .highlights__content-highlight--logo p {
    font-size: 28px;
    color: #4c3767;
    text-align: center;
    padding-top: 8px
}

.home .highlights.architects .highlights__content-highlight--logo p strong,
.home .highlights.designers .highlights__content-highlight--logo p strong {
    display: block;
    font-weight: 700;
    margin-top: 4px
}

.home .highlights.architects .highlights__content-highlight--logo a,
.home .highlights.designers .highlights__content-highlight--logo a {
    margin-top: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px
}

.home .highlights.architects {
    background: 0 0
}

.home .banners {
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-top: 48px
}

.home .banners .box-banner {
    margin-bottom: 16px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -ms-transition: all .1s;
    -moz-transition: all .1s
}

.home .banners img {
    border-radius: 20px
}

@media screen and (max-width:1199px) {
    .home .banners {
        padding-top: 0 !important
    }

    .home .banners .box-banner {
        float: initial !important;
        box-sizing: border-box;
        padding: 0 12px;
        margin: 0 auto 16px
    }

    .home .banners .box-banner img {
        width: 100%
    }
}

.home .banners .box-banner:nth-child(odd) {
    float: left
}

.home .banners .box-banner:nth-child(even) {
    float: right
}

@media screen and (min-width:1200px) {
    .highlight * {
        border-radius: 30px !important
    }

    .highlight button {
        border-radius: unset !important
    }
}

@media screen and (min-width:1200px) {
    .home .highlight {
        height: 490px;
        overflow: hidden
    }
}

@media screen and (max-width:1199px) {
    .home .highlight {
        height: 190px;
        overflow: hidden
    }
}

@media screen and (min-width:1201px) {
    .home #highlightRoundBanners {
        padding: 32px 0;
        background: #eceff1;
        margin-top: 48px;
        height: 420px
    }

    .home #highlightRoundBanners__content {
        width: 1265px;
        min-width: 1265px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row
    }

    .home #highlightRoundBanners__content .box-banner {
        width: 33.3%;
        height: 100%;
        transition: .3s opacity .1s;
        opacity: 1 !important;
        margin-right: auto
    }

    .home #highlightRoundBanners__content .box-banner .RoundBannerSubtitle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
        color: #444;
        font-size: 19px;
        font-weight: 500;
        margin-top: 320px
    }

    .home #highlightRoundBanners__content .box-banner:hover * {
        scale: 1.04;
        transition: .3s;
        color: #e77925 !important
    }

    .home #highlightRoundBanners__content .box-banner img {
        left: auto;
        right: auto;
        position: absolute;
        padding: 5px;
        margin-left: -30px
    }

    .home #highlightRoundBanners h2.RoundBannerTitle {
        /*max-width: 1399px;*/
        max-width: 1590px;
        text-align: left;
        margin: auto;
        padding-bottom: 30px;
        padding-left: 192px;
        font-size: 30px;
        font-weight: 900;
        color: #4c3767
    }
}

@media screen and (max-width:1199px) {
    .home #highlightRoundBanners {
        height: 550px
    }

    .home #highlightRoundBanners h2.RoundBannerTitle {
        text-align: center;
        margin: auto;
        padding-bottom: 30px;
        padding-left: 0 !important;
        font-size: 30px;
        font-weight: 900;
        color: #4c3767
    }

    .home #highlightRoundBanners__content .box-banner {
        padding-bottom: 50px
    }

    .home #highlightRoundBanners__content .box-banner .RoundBannerSubtitle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
        color: #444;
        font-size: 19px;
        font-weight: 500;
        margin-top: 0 !important;
        margin-bottom: -30px
    }
}

/* Bloco Trust Home */
@media screen and (min-width: 1200px) {
    .review-card[data-v-629a8615] {
        border-radius: 30px !important;
        background-color: #eceff1 !important;
    }

    .carousel__slide--active,
    .carousel__slide--visible {
        width: 300px !important;
        margin-right: -30px !important;
    }

    .carousel__slide--active {
        margin-left: -30px !important;
    }

    .carousel_trustvox {
        scale: 1.3;
        width: 800px !important;
    }

    #_trustvox_colt {
        margin: 50px 0px 30px 0px !important;
    }

    .ts-audited {
        margin-top: 60px !important;
        margin-right: 120px !important;
    }
}

@media screen and (max-width: 1199px) {
    .review-card[data-v-629a8615] {
        border-radius: 30px !important;
        background-color: #eceff1 !important;
    }
}
/* Bloco Trust Home */

/* Smart Hint Voice */
@media screen and (max-width: 1199px) {
    .home #startVoiceSpan i {
        margin-top: 48px !important;
    }
}
/* Smart Hint Voice */