.preblack .header__menu {
    border-bottom: unset !important;
}

.preblack .catalogIntro:nth-child(1) {
    display: none !important;
}

.preblack .accordion-header {
    padding-top: unset !important;
}

.preblack .accordion {
    --bs-accordion-border-color: #d2d2d2 !important;
    --bs-accordion-btn-bg: none !important;
    --bs-accordion-border-radius: 20px !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #ffffff40 !important;
    --bs-accordion-active-bg: #cfcfcf !important;
    --bs-accordion-active-color: #000 !important;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e) !important;
    --bs-accordion-inner-border-radius: 20px !important;
}

.preblack  .accordion-button::after {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%) !important;
}

.preblack .accordion-button:not(.collapsed)::after {
    filter: invert(100%) sepia(58%) saturate(6723%) hue-rotate(336deg) brightness(103%) contrast(110%)!important;
}

.preblack #accordionContainer {
    padding-top: 20px;
}

.preblack .breadcrumb_bs { /* a principio ocultei pois tava ruim de estilizar */
    display: none !important;
}

.preblack .catalogFilters {
    /*background-color: #f90041 !important;*/
    background-color: #e77925 !important;
}

.preblack .orderSelect__options a:hover {
    background-color: #e77925 !important;
    color: #fff !important;
}

.preblack .pages .pgCurrent {
    background-color: #e77925 !important;
    color: #fff !important;
    border: 2px solid #fff;
}

/* Template Catalog - Ajustes */
.shelfProduct__price-installment {
    display: none !important;
}

.shelfProduct__price-best,
.shelfProduct__price-best span {
    font-size: 38px;
    font-family: "Bebas Neue";
}

.shelfProduct__wrap {
    max-width: 240px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.shelfProduct__wrap .shelfProduct__price {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

.shelfProduct__name {
    font-size: 22px;
    text-align: start !important;
    text-decoration: line-through;
    /*color: #222 !important;*/
    color: #F90041!important;
    max-width: 210px !important;
    /*margin: 8px 0 !important;*/
    margin-top: 10px !important;
}

.shelfProduct__price {
    color: #222 !important;
}

.shelfProduct__price-installment {
    font-size: 38px;
    font-family: "Bebas Neue";
}

@media screen and (max-width: 1199px) {
    .shelfProduct__wrap {
        max-width: 130px !important;
        margin-left: 20px;
    }

    .shelfProduct__name {
        -webkit-line-clamp: 3;
    }

    .shelfProduct__price-best,
    .shelfProduct__price-best span {
        font-size: 27px;
        white-space: nowrap;
        letter-spacing: -1px;
    }
}

.preblack .view-product {
    position: absolute;
    bottom: 0;
    width: 250px;
    height: 48px;
    font-size: 18px !important;
    padding: 10px !important;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 30px !important;
    opacity: 1!important;
    z-index: 1;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: .2s;
    background-color: #000 !important;
    color: #fff !important;
    --bs-btn-border-color: #000 !important;
    --bs-btn-hover-border-color: #F90041 !important;
    --bs-btn-active-color: #000 !important;
}

.preblack .view-product:hover {
    background-color: #F90041 !important;
}

.preblack .pager li,
.preblack .catalogIntro .catalogdescription p {
    font-family: unset !important
}
/* Template Catalog - Ajustes */

/* Flag Pre Black */
.shelfProductImages .flag.pre-black-friday {
    display: flex;
    font-size: 0;
    border-radius: unset;
    background: #000;
    width: 45px;
    height: 45px;
    position: relative;
    text-align: center;
    transform: rotate(-60deg);
    margin: 8px;
}

.shelfProductImages .flag.pre-black-friday::before,
.shelfProductImages .flag.pre-black-friday::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background: #000;
}

.shelfProductImages .flag.pre-black-friday::after {
    content: "Pré Black";
    font-size: 15px;
    font-weight: 500;
    color: #FFDA00;
    line-height: 16px;
    padding-top: 5px;
}

.shelfProductImages .flag.pre-black-friday::before {
    transform: rotate(30deg);
}

.shelfProductImages .flag.pre-black-friday::after {
    transform: rotate(60deg);
}

@media screen and (max-width: 1199px) {
    .shelfProductImages .flag.pre-black-friday,
    .shelfProductImages .flag.pre-black-friday::after,
    .shelfProductImages .flag.pre-black-friday::before {
        width: 32px;
        height: 32px;
    }
    
    .shelfProductImages .flag.pre-black-friday::after {
        /*font-size: 12px;
        line-height: 12px;*/
        font-size: 11px;
        line-height: 11px;
        padding-top: 2.5px !important;
    }
}
/* Flag Pre Black */

/* Display Shelf Out of Stock - Ja ajustado no Common New Theme - TIRAR DAQUI */
.preblack .shelfProduct__wrap .outStock {
    color: #F90041 !important;
    display: flex !important;
    flex-direction: row;
    padding: unset !important; 
}

.preblack .shelfProduct__wrap .outStock span {
    padding: unset !important;
    margin-right: 5px;
}
/* Display Shelf Out of Stock */

@media screen and (max-width: 1199px) {
    .preblack .sh-sidebar {
        height: 100%!important;
        width: 100%!important;
    }
}

.preblack .pages li:hover {
    color: #e77925 !important;
    background-color: #fff !important;
}

@media screen and (max-width: 1199px) {
    .preblack .btnFilterMobile {
        background: unset !important;
        background-color: #e77925 !important;
    }
}

/* Isso precisa ir para um style geral ou pelo menos para o style da page da Black Friday */
@media screen and (max-width: 1199px) {
    #container_faq .col {
        padding-right: unset !important;
        padding-left: unset !important;
    }
}
/* Isso precisa ir para um style geral ou pelo menos para o style da page da Black Friday */
